
.cylinder{
   object-fit: cover;
   background-image: url('../images/cylinder.jpg');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
@media(max-width:667px) {
    .cylinder
    {
        display:none !important;
    }
    .submit_btn button
    {
        width: 100% !important;
    }
}
