.cylinder {
	object-fit: cover;
	background-image: url("../images/cylinder.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
    z-index: 1;
    position: relative;
}
.cylinder::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}
.login input {
	height: 50px !important;
}
.login button {
	background-color: #5e7594 !important;
}
.login input
{
    border-bottom: 3px solid #5e7594 !important;
}
.login .input-group-text
{
    border-bottom: 3px solid #5e7594 !important;
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;

}
.login input[type="number"]::-webkit-inner-spin-button,
.login input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.footer_link p {
	bottom: 0;
	position: absolute;
}

@media (max-width: 667px) {
	.cylinder {
		display: none !important;
	}
	.submit_btn button {
		width: 100% !important;
	}
	.footer_link p {
		bottom: 0;
		position: absolute;
	}
}
@media(max-width: 997px) {
	.cylinder {
		display: none !important;
	}
}