 input[type="number"]::-webkit-inner-spin-button,
 input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.color_div
{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}